$color-primary: #635c5c;
$color-white: white;
$color-red: #ff003c;
$color-cream:rgb(253, 240, 233);
$color-cream-dark: rgb(249, 229, 218);
$color-orange: #EF6D58;


$color-red: #ff003c;
$orange: #EF6C57;
$dark-brown: #391400;
$cream: rgb(253, 240, 233);