#superior{

    h1{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 15px
    }

    .container{
        display: flex;


        .row{
            width: 100%;
            justify-content: center;

            .col-4{
                cursor: pointer;

                img{
                    width: 100%;
                }
                h2{
                    text-align: center
                }



            }
        }
    }
}