@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#new_arrivals .container h2 {
  font-size: 40px;
  color: black;
  font-weight: 700;
  padding-bottom: 5%;
}

#new_arrivals .col-4 .card h3 {
  font-size: 20px;
  color: #635c5c;
  font-weight: 700;
  padding: 3%;
}

h5 {
  color: #EF6D58;
  size: 16px;
  font-weight: 400;
}

#footer1 h1 {
  font-weight: 700;
  color: white;
  font-size: 72px;
  position: relative;
}

#footer1 p {
  font-size: 16px;
  color: gray;
}

#footer1 .white, #newsletter .container form button, #more .container button, #foot2 .container .row .col-4 .orange, #banner .left .butn button {
  background-color: white;
  font-size: 15px;
  color: black;
  transition: 0.3s;
  cursor: pointer;
  padding: 12px 22px;
  border: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.col-1 {
  width: 8.3333333333%;
  padding: 1rem;
}

.col-2 {
  width: 16.6666666667%;
  padding: 1rem;
}

.col-3 {
  width: 25%;
  padding: 1rem;
}

.col-4 {
  width: 33.3333333333%;
  padding: 1rem;
}

.col-5 {
  width: 41.6666666667%;
  padding: 1rem;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
  padding: 1rem;
}

.col-8 {
  width: 66.6666666667%;
  padding: 1rem;
}

.col-9 {
  width: 75%;
  padding: 1rem;
}

.col-10 {
  width: 83.3333333333%;
  padding: 1rem;
}

.col-11 {
  width: 91.6666666667%;
  padding: 1rem;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-md-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-md-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-md-12 {
    width: 100%;
    padding: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 1rem;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 1rem;
  }
  .col-sm-3 {
    width: 25%;
    padding: 1rem;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 1rem;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 1rem;
  }
  .col-sm-6 {
    width: 50%;
    padding: 1rem;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 1rem;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 1rem;
  }
  .col-md-9 {
    width: 75%;
    padding: 1rem;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 1rem;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 1rem;
  }
  .col-sm-12 {
    width: 100%;
    padding: 1rem;
  }
}
header {
  width: 100%;
  box-shadow: 0 2px 10px -4px gray;
}
header .header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  gap: 25px;
}
header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #635c5c;
  font-weight: 500;
  transition: 0.3s;
}
header nav ul li a:hover {
  color: #ff003c;
}
header .icons {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}
header .icons i {
  cursor: pointer;
  transition: 0.3s;
  color: black;
}
header .icons i:hover {
  color: #ff003c;
}

#banner {
  display: flex;
  background-color: #f0f0f2;
}
#banner .left {
  padding: 15% 20%;
  width: 50%;
}
#banner .left .butn {
  position: relative;
  width: 170px;
  cursor: pointer;
  transition: 0.3s;
}
#banner .left .butn:hover .overlay {
  width: 100%;
}
#banner .left .butn .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ff003c;
  width: 0;
  transition: 0.5s;
}
#banner .left .butn button {
  width: 100%;
  cursor: pointer;
}
#banner .left .butn button h2 {
  position: relative;
  z-index: 1000;
}
#banner .left h1 {
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 5%;
}
#banner .left p {
  padding-bottom: 8%;
  font-size: 15px;
}
#banner .right {
  width: 50%;
}

#new_arrivals .container {
  padding: 7% 10%;
}
#new_arrivals .col-4 {
  padding: 0px;
}
#new_arrivals .col-4 .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#new_arrivals .col-4 .card span {
  color: #ff003c;
}

#images img {
  width: 100%;
}
#images .row .col-6 {
  display: flex;
}
#images .row .col-6 img {
  width: 100%;
}
#images .row .col-6 .col-6 {
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
#images .row .col-6 .col-6 img {
  width: 100%;
}
#images .row .col-6 .col-6 .col-12 {
  width: 100%;
}

counts {
  background-color: rgb(253, 240, 233);
}
counts .container {
  padding: 5% 0;
}
counts .container .row .col-6 {
  display: flex;
  border-radius: 6px;
  padding: 50px 0;
  background-color: transparent;
  gap: 30px;
  outline: 1px solid rgb(243, 209, 191);
}
counts .container .row .col-6 .icon {
  background-color: #EF6C57;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
counts .container .row .col-6 .yazi h1 {
  font-size: 40px;
  font-weight: 800;
  color: #391400;
}
counts .container .row .col-6 .yazi p {
  font-size: 20px;
  color: #391400;
  font-weight: 400;
  padding-top: 40px;
}

#video-reel {
  background-color: rgb(253, 240, 233);
}
#video-reel .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 30%;
  gap: 35px;
}
#video-reel .container .video {
  width: 100%;
  position: relative;
}
#video-reel .container .video .image {
  width: 100%;
}
#video-reel .container .video .player {
  position: absolute;
  left: 270px;
  top: 150px;
}
#video-reel .container .video .one_45 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 5px;
}
#video-reel .container h5 {
  color: #EF6C57;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  display: flex;
  justify-content: start;
  width: 100%;
}
#video-reel .container h3 {
  font-size: 40px;
  color: #391400;
  font-weight: 800;
}
#video-reel .container p {
  font-size: 16px;
  color: #391400;
  font-weight: 400;
  line-height: 40px;
}

#digital {
  background-color: rgb(253, 240, 233);
}
#digital .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 30%;
  gap: 35px;
}
#digital .container h5 {
  color: #EF6C57;
  font-size: 16px;
  font-weight: 400;
  text-align: start;
  display: flex;
  justify-content: start;
  width: 100%;
}
#digital .container h3 {
  font-size: 40px;
  color: #391400;
  font-weight: 800;
  display: flex;
  justify-content: start;
  width: 100%;
}
#digital .container p {
  font-size: 16px;
  color: #391400;
  font-weight: 400;
  line-height: 5px;
  display: flex;
  justify-content: start;
  width: 100%;
  font-weight: 200;
}
#digital .container .firstp {
  font-weight: 400;
}

#foot1 {
  background-color: rgb(253, 240, 233);
}
#foot1 .container {
  width: 100%;
}
#foot1 .container .imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

#foot2 {
  background-color: rgb(249, 229, 218);
}
#foot2 .container .row {
  padding: 90px 0;
}
#foot2 .container .row .col-4 {
  padding: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#foot2 .container .row .col-4 .footerstar {
  position: relative;
}
#foot2 .container .row .col-4 .footerstar .star {
  position: absolute;
  bottom: 1px;
}
#foot2 .container .row .col-4 .footerstar .shape {
  position: absolute;
  bottom: 65px;
  left: 55px;
}
#foot2 .container .row .col-4 .imgcloud {
  position: relative;
}
#foot2 .container .row .col-4 .imgcloud .cloud {
  position: absolute;
  left: 135px;
}
#foot2 .container .row .col-4 .imgcloud .blog {
  position: absolute;
  left: 100px;
}
#foot2 .container .row .col-4 p {
  padding-top: 40px;
  left: 40px;
}
#foot2 .container .row .col-4 h4 {
  width: 400px;
  font-size: 40px;
  word-spacing: 6px;
}
#foot2 .container .row .col-4 h5 {
  font-size: 15px;
  letter-spacing: 4px;
}
#foot2 .container .row .col-4 .orange {
  background-color: #EF6D58;
  border-radius: 6px;
  width: 150px;
}

#foot3 {
  background-color: #28293E;
  padding: 40px 0;
}
#foot3 .container .row .col-3 {
  padding: 0;
}
#foot3 .container .row .col-3 .ikons {
  padding-top: 15px;
}
#foot3 .container .row .col-3 .ikons i {
  background-color: #EF6D58;
  border-radius: 50%;
  padding: 7px;
  color: white;
}
#foot3 .container .row .col-3 h2 {
  color: white;
  padding-top: 15px;
}
#foot3 .container .row .col-3 h3 {
  color: #EF6D58;
  padding: 10px 10px;
}
#foot3 .container .row .col-3 ul li {
  padding: 10px;
}
#foot3 .container .row .col-3 ul li a {
  color: white;
}

#foot4 {
  background-color: #28293E;
  display: flex;
  justify-content: space-between;
}
#foot4 .pharagright {
  display: flex;
}
#foot4 p {
  color: white;
  opacity: 0.64;
  padding: 40px;
}

#stories {
  padding: 5%;
  background-color: rgb(253, 240, 233);
}
#stories .container .row .col-6 .card {
  padding: 20px;
}
#stories .container .row .col-6 .card img {
  width: 100%;
  padding-bottom: 3%;
}
#stories .container .row .col-6 .card p {
  color: #391400;
  font-weight: 300;
  padding-bottom: 3%;
}
#stories .container .row .col-6 .card h3 {
  font-size: 40px;
  font-weight: 700;
  color: #391400;
  padding-bottom: 3%;
}

#more {
  background-color: rgb(253, 240, 233);
  padding: 5%;
}
#more .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#more .container button {
  font-size: 14px;
  font-weight: 900;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#more .container .row .col-4 {
  padding: 0;
}
#more .container .row .col-4 .card {
  padding: 20px;
}
#more .container .row .col-4 .card .imge {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  border-radius: 5px;
  cursor: pointer;
}
#more .container .row .col-4 .card img {
  transition: 0.3s;
  border-radius: 5px;
}
#more .container .row .col-4 .card img:hover {
  scale: 1.5;
}
#more .container .row .col-4 .card p {
  font-size: 20px;
  color: #391400;
  font-weight: 400;
  padding-bottom: 3%;
}
#more .container .row .col-4 .card h4 {
  font-size: 24px;
  color: #391400;
  font-weight: 700;
  padding-bottom: 3%;
}

#newsletter {
  background-color: rgb(253, 240, 233);
  padding: 5%;
}
#newsletter .container {
  display: flex;
  justify-content: space-between;
}
#newsletter .container h3 {
  font-size: 40px;
  font-weight: 800;
  color: #391400;
}
#newsletter .container form {
  display: flex;
  width: 50%;
  gap: 10px;
}
#newsletter .container form input {
  width: 80%;
  padding: 1% 2%;
  color: gray;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
}
#newsletter .container form button {
  font-size: 14px;
  font-weight: 900;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#footer1 {
  background-color: #EF6C57;
}
#footer1 .container {
  padding: 5%;
}
#footer1 .container .banner {
  display: flex;
  align-items: center;
  gap: 60px;
}
#footer1 h1 {
  padding-bottom: 4%;
}
#footer1 p {
  padding-bottom: 6%;
}
#footer1 .white {
  background-color: white;
  color: #391400;
}
#footer1 .leftside {
  width: 50%;
}
#footer1 .rightside {
  width: 50%;
}
#footer1 .rightside img {
  width: 100%;
}

footer {
  background-color: rgb(253, 240, 233);
}
footer .container {
  padding: 5%;
  display: flex;
  justify-content: space-between;
}
footer .container .menu-serv {
  display: flex;
  -moz-column-gap: 180px;
       column-gap: 180px;
}
footer .container .menu-serv .menu, footer .container .menu-serv .service {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .container .menu-serv .menu h3, footer .container .menu-serv .service h3 {
  color: #EF6C57;
}
footer .container .menu-serv .menu ul, footer .container .menu-serv .service ul {
  color: #391400;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
footer .container .menu-serv .menu ul li a, footer .container .menu-serv .service ul li a {
  color: #391400;
}
footer .line {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .logos {
  display: flex;
  gap: 15px;
}
footer .logos i {
  width: 48px;
  height: 48px;
  background-color: #EF6C57;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
footer h4 {
  color: #391400;
  font-size: 24px;
  font-weight: 700;
}
footer .copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .copyright ul {
  display: flex;
  color: #391400;
  gap: 70px;
}/*# sourceMappingURL=main.css.map */